@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

body {
  margin-top: 50px;
}
.ui.block.header {
  text-align: center;
}
.ui.container {
  width: 760px;
  padding: 30px;
}
.ui.active.dimmer {
  height: 100%;
}
#left span {
  margin-left: 30px;
}
#right span {
  margin-right: 30px;
}
